html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  color: #333;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent element */
    background-color: transparent; /* Removes background color */
}


section {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.section-container {
  position: relative; /* Establishes a positioning context for absolute positioning inside */
}

.section-image {
  position: absolute; /* Position the image absolutely within the section */
  top: 50%; /* Center the image vertically */
  right: 0; /* Align the image to the right side */
  transform: translateY(-135%) translateX(-15%); /* Shift the image up by half its height to truly center it */
  max-width: 50%; /* Adjust the width as needed */
  height: 500px; /* Maintain aspect ratio */
}

