@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>Does your Email look right? </p>
    <p><span class="fw-bold">@Model.Email</span></p> 
    <p class="btn btn-info"><a id="confirm-link" href="@Model.EmailConfirmationUrl">Yes</a></p>
    <p>If it doesn't try registering again.</p>

    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

