@{
    ViewData["Title"] = "About Me";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        
        .bg-lego {
            background-image: linear-gradient(to bottom, transparent, #837960), url("/daniel-k-cheung-B7N0IjiIJYo-unsplash.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .about-text {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            text-align: center;
            margin-top: 60px; /* Adjust as needed */
            padding: 0 20px; /* Add padding to prevent text from sticking to the edges */
            color: #000; /* Set the text color to black */
            font-size: 24px; /* Increase the font size */
        }

        .about-text1{
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            text-align: center;
            margin-top: 60px; /* Adjust as needed */
            padding: 0 20px; /* Add padding to prevent text from sticking to the edges */
            color: #000; /* Set the text color to black */
            font-size: 30px; /* Increase the font size */
        }
    
    </style>
</head>

<body class="bg-lego">
    <div class="container">
        <h1 class="about-text1">ABOUT ME</h1>
        <p class="about-text">Hey there! I'm Aurora Brickwell, your LEGO guide. With a lifelong love for these iconic bricks, I've turned my passion into a profession. I curate a diverse collection of LEGO sets, catering to builders of all ages and interests. From classic sets to the latest releases, I offer top-notch service and a commitment to customer satisfaction. Let's embark on a brick-tastic journey together!</p>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
