@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<RatedProducts>

<div class="container">
    <div class="row">
        <!-- Left column for the black rectangle -->
        <div class="col-md-6 bg-black d-flex align-items-center justify-content-center text-white position-relative">
            <h1 class="text-white">Aurora's Lego Shop</h1>
            <!-- White rectangle with curved edges -->
            <div class="white-rectangle">
                <p class="text-center mb-0 small" style="color: black;">See featured products</p>
                <i class="fas fa-chevron-right arrow-icon" style="color: black;"></i>
            </div>
        </div>

        <!-- Right column for the Lego blocks image -->
        <div class="col-md-6 position-relative">
            <img src="~/Lego-Toy-PNG-Image-File.png" class="img-fluid no-background" alt="Lego Blocks Image">
            <div class="bg-black-horizontal"></div>
        </div>
    </div>
</div>

<!-- Blue curved rectangle below the image -->


<div class="row blue-curved-rectangle">
    <div class="col-3 spaceman-container">
        <img src="Orange-Spaceman.png" class="img-fluid spaceman" alt="Lego Spaceman">
       
    </div>
    <div class="col-9">
    <p class="mb-0 big-hey">Hey!</p>
    <p class="mb-0 personalized-message">For a more personalized experience, log in or create an account!</p>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Recommended Products</h2>
            <div class="recommended-products-container d-flex overflow-auto">
                @foreach (var product in Model)
                {
                    <partial name="ItemSummary" model="product" />
                }
            </div>
        </div>
    </div>
</div>




<style>

    .bg-black {
        background-color: black;
    }

        .bg-black h1 {
            font-size: 36px;
        }

    .white-rectangle {
        background-color: white;
        border-radius: 20px;
        padding: 12px;
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
    }

    .arrow-icon {
        color: black;
        font-size: 24px;
    }

    .no-background {
        background: none; /* Remove any background */
    }

    .bg-black-horizontal {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        z-index: -1; /* Ensure the black rectangle is behind the image */
    }

        .blue-curved-rectangle {
            background-color: #83B2F8;
            border-radius: 20px;
            padding: 20px;
            text-align: left;
            color: white;
            margin-top: 10px;
            position: relative;
        }

        .spaceman-container {
            position: relative;
            top: 0;
            left: 0;
            width: 70px;
        }

        .spaceman {
            max-width: 100%;
        }

       
</style>

