@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7">
            <!-- Privacy Policy Content -->
            <p>Welcome to Aurora's Lego Storefront! Your privacy is critically important to us, and we are committed to protecting it. This Privacy Policy document outlines the types of information that is collected and recorded by Aurora's Lego Storefront and how we use it.</p>
            <p>This policy is a part of our Terms and Conditions; by agreeing to the Terms and Conditions, you also agree to this policy. In the event of a conflict between this policy and our Terms and Conditions, the Terms and Conditions will prevail.</p>
        
            <h3>1. Personal Data We Collect</h3>
            <p>When you visit our website, we may collect the following information:</p>
            <ul>
                <li><strong>Contact Information</strong>: Your name, address, email address, and phone number.</li>
                <li><strong>Account Information</strong>: Your user ID, password, and other information related to your site account.</li>
                <li><strong>Transaction Data</strong>: Details of the products you have purchased and the payment method.</li>
                <li><strong>Technical Data</strong>: Your IP address, browser type and version, time zone setting, and location.</li>
            </ul>
            <h3>2. How We Use Your Personal Data</h3>
            <p>We use your personal data for the following purposes:</p>
            <ul>
                <li>To provide you with the services you signed up for.</li>
                <li>To fulfill your orders and process payments.</li>
                <li>To communicate with you about your account or transactions with us.</li>
                <li>To provide customer service and support.</li>
                <li>To detect and prevent fraudulent transactions.</li>
            </ul>
            
            <h3>3. Legal Basis for Processing</h3>
            <p>We process your personal data under the following legal bases:</p>
            <ul>
                <li>Your consent.</li>
                <li>The need to perform the contract between you and us.</li>
                <li>Compliance with our legal obligations.</li>
                <li>Our legitimate business interests.</li>
            </ul>
            
            <h3>4. Sharing Your Personal Data</h3>
            <p>We do not sell or rent your personal data. We may share your information with third parties in the following situations:</p>
            <ul>
                <li>With service providers who assist us in running the site and conducting our business.</li>
                <li>With law enforcement or other government officials if required by law.</li>
                <li>If our business is sold or merges with another company.</li>
            </ul>
            
            <h3>5. Data Retention</h3>
            <p>We will retain your personal data for as long as your account is active or as needed to provide you services and as required to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
            
            <h3>6. Your Rights</h3>
            <p>We comply with Europe’s GDPR privacy law; you have various rights including:</p>
            <ul>
                <li>The right to be informed about the collection and use of your personal data.</li>
                <li>The right to access your personal data.</li>
                <li>The right to correct any inaccurate personal data.</li>
                <li>The right to have your personal data erased.</li>
                <li>The right to restrict the processing of your personal data.</li>
                <li>The right to data portability.</li>
            </ul>
            
            <h3>7. Security of Your Personal Data</h3>
            <p>We take the security of your personal data very seriously and use appropriate technical and organizational measures to protect your personal data from unauthorized access, alteration, or destruction.</p>
            
            <h3>8. Third-Party Websites</h3>
            <p>Our website may contain links to third-party websites. We are not responsible for the privacy practices or the content of these websites.</p>
            
            <h3>9. Children's Privacy</h3>
            <p>Our service does not address anyone under the age of 16 ("Children"). We do not knowingly collect personally identifiable information from children under 16. If you are a parent or guardian and you are aware that your child has provided us with personal data, please contact us.</p>
            
            <h3>10. Changes to This Privacy Policy</h3>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
            
            <h3>11. Contact Us</h3>
            <p>If you have any questions about this Privacy Policy, please contact us:</p>
            <p>aurora.brickwell@getbricked.com</p>
        </div>
            
        <div class="col-lg-4 col-md-5">
            <img src="~/img/WALLE_Lego.png" alt="Lego Wall-E" class="card-img"/>
        </div>
    </div>
</div><br/><br/>